<div class="titre">
  <h1>Welcome</h1>
</div>
<div class="btnlog">
  <div class="btn">
    <a class="btn2s" href="<%= new_user_session_path %>">Log In</a>
  </div>
  <div class="btn2">
    <a class="btn2s" href="<%= new_user_registration_path %>">Sign Up</a>
  </div>
</div>
