<!DOCTYPE html>
<html>
  <head>
    <title>GApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
  <h1>List of all posts</h1>
  <p>Placeholder: Here is a list of posts for a given user.</p>
   </body>
</html>
