<!DOCTYPE html>
<html>
  <head>
    <title>GApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
  <div class="container">
    <div class="user-header">
        <h2><%= @user.name %></h2>
        <h3><%= @targated_post.title %></h3>
        <p>Number of Comments: <%= @targated_post.comments_counter %></p>
    </div>
    
    <div class="sectioncomment">
        <h3>Comments</h3>
        <ul>
            <% @comments.each do |comment| %>
                <li><%= comment.text %></li>
            <% end %>
        </ul>
		<a href="posts">go to Posts</a>
    </div>
</div>
  </body>
</html>
