.form-container {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.form-container h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.field {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px;
}

.user-image {
  width: 100px;
  height: 100px;
  margin-right: 60px;
}

.user-details {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
  width: 20%;
  text-decoration: none;
}

.user-name {
  font-size: 1.4em;
  color: black;
  text-decoration: none;
}

.user-post-count {
  color: black;
  margin-top: 10px;
  margin-left: 95px;
}

.user-bio {
  border: 2px solid black;
  padding: 10px;
  width: 32%;
}

.user-posts {
  margin-top: 20px;
  width: 34%;
}

.post {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.post-title {
  font-size: 1.2em;
  color: black;
}

.post-text {
  margin-top: 10px;
}

.post-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.post-comments {
  color: black;
  margin-left: 290px;
}

.post-likes {
  color: black;
}

.see-all-posts {
  margin-left: 160px;
  margin-top: 20px;
  font-size: 1.2em;
  width: 10%;
  color: black;
  border-radius: 25px;
  border: 2px solid black;
}
